{% extends 'core/base.html' %}
{% load static %}

{% block title %}Список заказов - ООО «Обувь»{% endblock %}
{% block h1 %}Управление заказами{% endblock %}

{% block content %}

<div style="display: flex;">
    <div>
        <a href="{% url 'product_list' %}" class="button-v">← Вернуться к товарам</a>
        <br><br>
    </div>
    <!-- Кнопка добавления (только для администратора) -->
    <div style="margin-left: auto;">
        {% if user.role == "admin" %}
            <a href="{% url 'order_create' %}" class="button-v">Добавить заказ</a>
        {% endif %}
    </div>
</div>

<!-- Список заказов в виде карточек (как на макете) -->
<div>
    {% for order in orders %}
    <div class="order-card">
        <div class="details">
            <strong>Артикул заказа:</strong>
            {% for item in order.items.all %}
                {{ item.product.article }} ({{ item.quantity }} шт.){% if not forloop.last %}, {% endif %}
            {% empty %}
                Нет товаров
            {% endfor %}
            <br />
            Статус заказа: {{ order.get_status_display }}
            <br />
            Адрес пункта выдачи: {{ order.pickup_point.address }}
            <br />
            Дата заказа: {{ order.order_date|date:"d.m.Y" }}
            <br />
            {% if user.role == "admin" %}
            
                <a href="{% url 'order_edit' order.id %}" class="button-v">Редактировать</a>
                <form action="{% url 'order_delete' order.id %}" method="post" style="display: inline;"
                    onsubmit="return confirm('Вы уверены, что хотите удалить этот заказ?');">
                    {% csrf_token %}
                    <button type="submit" class="button-v" style="cursor: pointer; font-family: inherit; font-size: inherit;">Удалить</button>
                </form>
            
            {% endif %}
        </div>
        <div class="date">Дата доставки: {{ order.delivery_date|date:"d.m.Y" }}</div>    
    </div>
    {% empty %}
    <p>Заказы не найдены</p>
    {% endfor %}
</div>

{% endblock %}