{% extends 'core/base.html' %}
{% load static %}

{% block title %}Список товаров - ООО «Обувь»{% endblock %}
{% block h1 %}Каталог товаров{% endblock %}

{% block content %}
{% if user.role == "admin" or user.role == "manager" %}
<div>
    <form method="get" style="display: flex;">
        <div>
            <label>Поиск:</label><br>
            <input class="button" type="text" name="search" value="{{ current_search }}" placeholder="Найти..."
                oninput="clearTimeout(this.delay); this.delay = setTimeout(() => this.form.submit(), 500);">
        </div>

        <div>
            <label>Поставщик:</label><br>
            <select class="button" name="supplier" onchange="this.form.submit()">
                <option value="all">Все поставщики</option>
                {% for supplier in suppliers %}
                    <option value="{{ supplier.id }}" {% if current_supplier == supplier.id|stringformat:"i" %}selected{% endif %}>{{ supplier.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label>Размер скидки:</label><br>
            <select class="button" name="discount_filter" onchange="this.form.submit()">
                <option value="all">Все скидки</option>
                <option value="0_13" {% if request.GET.discount_filter == "0_13" %}selected{% endif %}>От 0% до 12.99%</option>
                <option value="13_30" {% if request.GET.discount_filter == "13_30" %}selected{% endif %}>От 13% до 29.99%</option>
                <option value="30_100" {% if request.GET.discount_filter == "30_100" %}selected{% endif %}>От 30% до 100%</option>
            </select>
        </div>

        <div>
            <label>Сортировка (кол-во):</label><br>
            <select class="button" name="sort_qty" onchange="this.form.submit()">
                <option value="">Без сортировки</option>
                <option value="asc" {% if request.GET.sort_qty == "asc" %}selected{% endif %}>По возрастанию</option>
                <option value="desc" {% if request.GET.sort_qty == "desc" %}selected{% endif %}>По убыванию</option>
            </select>
        </div>

        <div>
            <label>Сортировка (цена):</label><br>
            <select class="button" name="sort_price" onchange="this.form.submit()">
                <option value="">Без сортировки</option>
                <option value="asc" {% if request.GET.sort_price == "asc" %}selected{% endif %}>Сначала дешевле</option>
                <option value="desc" {% if request.GET.sort_price == "desc" %}selected{% endif %}>Сначала дороже</option>
            </select>
        </div>

        <div>
            <label>Сортировка (скидка):</label><br>
            <select class="button" name="sort_discount" onchange="this.form.submit()">
                <option value="">Без сортировки</option>
                <option value="asc" {% if request.GET.sort_discount == "asc" %}selected{% endif %}>Меньше скидка</option>
                <option value="desc" {% if request.GET.sort_discount == "desc" %}selected{% endif %}>Больше скидка</option>
            </select>
        </div>


        {% if user.role == 'admin' or user.role == 'manager' %}
        <div style="margin-left: 10px;">
            <a href="{% url 'order_list' %}" class="button-v">Заказы</a>
        </div>
        {% endif %}


        {% if user.role == 'admin' %}
        <div style="margin-left: auto;">
            <a href="{% url 'product_create' %}" class="button-v">Добавить товар</a>
        </div>
        {% endif %}
    </form>

</div>
{% endif %}
<div>
    {% for product in products %}
    <div class="product-card 
        {% if product.discount > 15 %}sale{% endif %}
        {% if product.quantity == 0 %}out-of-stock{% endif %}">
        {% if product.photo %}
            <img src="{{ product.photo.url }}" class="image" alt="{{ product.name }}">
        {% else %}
            <img src="{% static 'images/picture.png' %}" class="image" alt="Заглушка">
        {% endif %}
        <div class="details">
            <strong>{{ product.category.name }} | {{ product.name }}</strong>
            <br />
            Описание товара: {{ product.description }}
            <br />
            Производитель: {{ product.manufacturer.name }}
            <br />
            Поставщик: {{ product.supplier.name }}
            <br />
            {% if product.discount > 0 %}
                Цена: <span class="old-price">{{ product.price }}</span> {{ product.final_price|floatformat:2 }} руб.
            {% else %}
                Цена: {{ product.price }} руб.
            {% endif %}
            <br />
            Единица измерения: {{ product.unit }}
            <br />
            Количество на складе: {{ product.quantity }}
            {% if user.role == "admin" %}
                <br><a href="{% url 'product_edit' product.id %}" class="button-v">Редактировать товар</a>
                <form action="{% url 'product_delete' product.id %}" method="post" style="display: inline;"
                      onsubmit="return confirm('Вы уверены, что хотите удалить этот продукт?');">
                    {% csrf_token %}
                    <button type="submit" class="button-v" style="cursor: pointer; font-family: inherit; font-size: inherit;">Удалить</button>
                </form>
            {% endif %}
        </div>
        <div class="sale">{{ product.discount }}%</div>
    </div>
    {% empty %}
    <p>Товары не найдены.</p>
    {% endfor %}
</div>
{% endblock %}